<app-menu></app-menu>

<ion-content class="ion-padding">
  <ion-title>
    <p class="titulo_nosotros">
      Nosotros
    </p>
  </ion-title>

  <div class="container">
    <ion-card-header>
      <!-- <ion-card-subtitle class="subtitle_card">Nuetra Misión</ion-card-subtitle> -->
      <ion-card-title class="title_card">Nuestra Misión</ion-card-title>
    </ion-card-header>

    <ion-card-content class="content_card">
      Ser líder en generar valor a nuestros públicos actuando como intermediario entre vendedores de muebles y clientes.
    </ion-card-content>
    <img class="img_nosotros1" src="../../../assets/recursos/imagenes/nosotros1.jpg">

    <ion-card-header>
      <!-- <ion-card-subtitle class="subtitle_card">Nuetra Visión</ion-card-subtitle> -->
      <ion-card-title class="title_card">Nuestra Visión</ion-card-title>
    </ion-card-header>


    <ion-card-content class="content_card">
      Brindar una muy buena experiencia de publicación y cotización de productos de muebleria.
    </ion-card-content>
    <img class="img_nosotros2" src="../../../assets/recursos/imagenes/img_nosotros2.jpg">

  </div>


</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar style="--background: #2f4f4f">
    <ion-title style="text-align: center; color: rgb(255, 255, 255);">© 2022 Global Muebles. Todos los derechos
      reservados.</ion-title>
  </ion-toolbar>
</ion-footer>