<app-menu></app-menu>

<ion-content>
  
  <ion-grid>
    <ion-row>
      <ion-col class="col-7">
        <div class="principalText">EL MEJOR LUGAR PARA PUBLICAR MUEBLES</div>
        <div class="secondaryText">Regístrate y empieza a vender tus productos</div>
      </ion-col>
      <ion-col class="col-5">
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar style="--background: #2f4f4f">
    <ion-title style="text-align: center; color: rgb(255, 255, 255);">© 2022 Global Muebles. Todos los derechos reservados.</ion-title>
  </ion-toolbar>
</ion-footer>
