#div1 {
    overflow:scroll;
    width:auto;
}

ion-content {
    --background: url('../../../assets/recursos/imagenes/background5home.jpg') 0 0/100% 100% no-repeat;
}

ion-item{
    --background: #dadfdf;
}

ion-list{
    background: transparent;
}