.btn-margin-top {
    margin-top: 2%;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    --background: #2f4f4f;
}

.initSesion {
    margin-top: 1%;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    --background: #89ac76;
}

ion-content {
    --background: url('../../../assets/recursos/imagenes/background5home.jpg') 0 0/100% 100% no-repeat;
}