<ion-header>
  <ion-toolbar>
    <ion-title style="color:white">¿Olvidaste tu contraseña?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form class="ion-padding-top" (submit)="sendLinkReset()">
    <div class="ion-text-center">
      <medium style="color:red">Escribe tu correo para enviarte las instrucciones para recuperar tu contraseña</medium>
    </div>
    <ion-item style="margin-top: 1%;">
      <ion-input type="text" [(ngModel)]="email_recover" color="black" placeholder="Ingrese su correo electronico" name="email"
        required="true"></ion-input>
    </ion-item>
    <ion-button class="btn-margin-top" type="submit" expand="block">Recuperar contraseña</ion-button>

    <ion-button class="initSesion" expand="block" fill="solid" (click)="goToLogin()">
      Iniciar Sesion
    </ion-button>

  </form>


</ion-content>