ion-grid{
    display: flex;

}

ion-item{
    --background: #2f4f4f;
    font-size: 125%;
    color: white;
}

ion-icon{
    color: white;
}

.title_home{
    // text-transform: uppercase;
    font-size: xx-large;
    color: white;
}

.titles_navbar{
    font-size: xx-large;
}

 